.cardDiv{
    padding: 3px;
}
div.titleSection{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 1px;
    background-color: violet;
}

div.links{
    background-color: rgb(47, 255, 92);
}

div.appTitle{
    background-color: rgb(234, 255, 47);
    /*border: 2px solid #ff0099;*/
}

.backgroundColor{
    color:white;
}